.productList{
}

#cartCart{
    -fx-background-color:  #5277ff;
}

#topTop{
    -fx-background-color: #5277ff;
}

#logoButt{
    -fx-background-color: #5277ff;
}

.sideButt{
    -fx-background-color: WHITE;
    -fx-border-bottom: 2px;
    -fx-border-color: #929292;
    -fx-font-size: 20px;
    -fx-font-style: bold;
}

.sideButt:hover{
    -fx-background-color: DARKGREY;
    -fx-border-bottom: 2px;
    -fx-border-color: #929292;
}

.sideButt:pressed{
    -fx-background-color: GREY;
    -fx-border-bottom: 2px;
    -fx-border-color: #929292;
}