Button{
    -fx-font-size: 20px;
}

.sideButt{
    -fx-background-color: White;
    -fx-border-bottom: 2px;
    -fx-border-color: #929292;
}

.sideButt:hover{
    -fx-background-color: #a8a8a8;
    -fx-border-bottom: 2px;
    -fx-border-color: #929292;
}

.sideButt:pressed{
    -fx-background-color: #5277ff;
    -fx-border-bottom: 2px;
    -fx-border-color: #929292;
}